#header-title {
  background: #DDDDDD;
  border: 1px solid #999999;
  display: block;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  -moz-border-radius: 20px 10px 30px 50px;
  -webkit-border-radius: 20px 10px 30px 50px;
  border-radius: 20px 10px 30px 50px;
}

#span-title {
  font: bold 36px verdana, sans-serif;
}